@import "style.css";
:root {
    --color-bg: #121212;
    --color-text-primary: #828282;
    --color-text-secondary: #f9faff;
    --color-primary: #928df1;
    --color-secondary: #fdc435;
    --color-bg-card: #3f3351;
}